
._css_rs_0 {
    border-bottom: solid transparent 3px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

._css_rs_0:hover {
    border-bottom: solid white 3px;
}


._css_rs_1 {
    align-items: center;
    background: linear-gradient(267deg,#2a38ef,#200994 50%,#1c2dab);
    color: white;
    display: flex;
    font-family: Avenir-Next;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

